*:not(#artwork) { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: #000;
	font-family: 'Monosten-A', monaco, monospace;
	color: #fff;
	font-size: 60px;
	line-height: 1.5;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

/**
 * Content
 */

#currently {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10% 30% 10% 10%;
	opacity: 1;

	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	transition: opacity 500ms ease;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html[data-loading] #currently {
	opacity: 0;
}

.section {
	padding: 2%;
}

html[data-loading] .section {
	
}

.section .options {
	font-size: 0.5em;
}

.section .currently {
	color: #fff;
}

.section .currently a {
	color: #fff;
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 0.09em solid #fff;
}

.section .currently a:hover {
  -moz-animation: blink 150ms steps(1, end) infinite;
  -webkit-animation: blink 150ms steps(1, end) infinite;
}

.section .title {
	opacity: 0.25;
}

#switch {
	display: inline-block;
	color: #666;
	cursor: pointer;
}
 
@-moz-keyframes blink {
  0% { border-bottom-color: transparent; }
  50% { border-bottom-color: #fff; }
}
 
@-webkit-keyframes blink {
  0% { border-bottom-color: transparent; }
  50% { border-bottom-color: #fff; }
}

iframe {
	height: 0px;
	width: 0px;
}

#artwork {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: -35%;
	left: -35%;
	right: -35%;
	bottom: -35%;
	z-index: -1;
	opacity: 0.25;
	-webkit-transform: scale(0.9);
	-webkit-filter: grayscale(100%) blur(30px) contrast(2);
}

/**
 * Toolbar
 */

#toolbar {
	position: fixed;
	bottom: 5%;
	right: 5%;
}

#toolbar > div {
	cursor: pointer;
	float: left;
}