*:not(#artwork) { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: #000;
	font-family: 'Monosten-A', monaco, monospace;
	color: #fff;
	font-size: 60px;
	line-height: 1.5;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

#loading {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	pointer-events: none;
	font-size: 5em;
	z-index: 9;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

html[data-loading] #loading {
	display: block;
}

/**
 * Content
 */

#currently {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10%;
	opacity: 1;

	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	transition: opacity 500ms ease;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html[data-loading] #currently {
	opacity: 0;
}

.section {
	float: left;
	padding: 2%;
	white-space: nowrap;
}

html[data-loading] .section {
	
}

.section .options {
	font-size: 0.5em;
	position: relative;
}

.section .currently {
	color: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
}

.section .currently a {
	color: #fff;
	text-decoration: none;
}

.section .currently a:hover {
	-moz-animation: blink 150ms steps(1, end) infinite;
	-webkit-animation: blink 150ms steps(1, end) infinite;
}

.section .title {

}

.section .option_line {
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

#switch {
	display: none;
	color: #666;
	cursor: pointer;
}
 
@-moz-keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
 
@-webkit-keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

iframe {
	height: 0px;
	width: 0px;
}

#artwork {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: -35%;
	left: -35%;
	right: -35%;
	bottom: -35%;
	z-index: -1;
	opacity: 0.25;
	-webkit-transform: scale(0.9);
	-webkit-filter: grayscale(100%) blur(30px) contrast(2);
}

/**
 * Toolbar
 */

#toolbar {
	position: fixed;
	bottom: 5%;
	right: 5%;
}

#toolbar > div {
	cursor: pointer;
	float: left;
}